body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 175px;
    font-size: 24px;
}

#header-link {
    color: #9c9c9c;
    font-size: 18px;
}


ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    
}

.top-container {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 80px 175px;
    gap: 30px;
    
}

.top-text {
    max-width: 415px; 
}

img {
    max-width: 500px;
    max-height: 250px;
}

button {
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 6px 16px;
    font-size: 20px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 16px;
}

.subtext {
    font-size: 18px;
    color: #9c9c9c;
    margin-bottom: 16px;
}

#octo-img {
    display: flex;
    justify-content: flex-end;
}

.middle-container {
    background-color: #f6f7f9;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.placeholder {
    height: 150px;
    width: 150px;
    border: solid rgb(83, 83, 254);
    border-radius: 16px;
    border-width: 4px;
    margin-bottom: 8px;
    display: flex;
    flex: 1;
}

#section-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.placeholders {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    flex-shrink: 0;

}

.description {
    font-size: 18px;
    color: #777878;
    max-width: 150px;
    display: flex;
    text-align: center;
}

.info {
    margin-bottom: 75px;
}